@charset "UTF-8";

// Mixins
//------------------------------------------------------------------------------

@mixin breakpoint($breakpoint) {
  @if $breakpoint == laptop {

    @media (max-width: 1280px) {
      @content;
    }

  } @else if $breakpoint == tablet {

    @media (max-width: 1024px) {
      @content;
    }

  } @else if $breakpoint == phablet {

    @media (max-width: 768px) {
      @content;
    }

  } @else if $breakpoint == phone {

    @media (max-width: 480px) {
      @content;
    }

  }
}

// Variables
//------------------------------------------------------------------------------

$font-header: "Helvetica Neue", Arial, sans-serif;
$font-body: "Open Sans", sans-serif;

$bg-body: #F2F4F2;

$color-header: #23262C;
$color-body: #46494D;
$color-accent: #DF1C30;
$color-missing: lighten($color-body, 15%);
$color-done: #DF1E30;

// Reset (based on Reset v2.0 by Eric Meyer)
//------------------------------------------------------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Base
//------------------------------------------------------------------------------

body {
  font: 16px/24px $font-body;
  color: $color-body;
  background: $bg-body;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

/* Links */

a {
  color: $color-body;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $color-accent;
}

// Wrapper
//------------------------------------------------------------------------------

%wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(tablet) {
    padding: 0 48px;
  }

  @include breakpoint(phablet) {
    padding: 0 24px;
  }
}

// Index
//------------------------------------------------------------------------------

.header {
  @extend %wrapper;
  margin-top: 48px;
  margin-bottom: 48px;

  h1 {
    position: relative;
    font: bold 32px/32px $font-header;
    text-transform: uppercase;
    color: $color-header;
  }

  p {
    margin-top: 12px;
  }

  li {
    display: inline-block;
    margin-right: 12px;
    margin-top: 12px;
    font-size: 14px;

    &:before {
      content: "";
      display: inline-block;
      height: 12px;
      width: 12px;
      margin-right: 6px;
    }

    &.missing:before {
      background: $color-missing;
    }

    &.done:before {
      background: $color-done;
    }
  }

  @include breakpoint(phablet) {
    margin-top: 24px;
    margin-bottom: 24px;

    h1 {
      span {
        display: block;

        &:before {
          content: "";
        }
      }
    }
  }
}

.list {
  @extend %wrapper;
  margin-top: 48px;
  margin-bottom: 48px;
  overflow: hidden;

  header {
    margin-bottom: 24px;
  }

  h1 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: $color-header;
  }

  p {
    margin-top: 12px;
    font-size: 14px;
  }

  li {
    line-height: 24px;
    border-top: 1px solid #ddd;

    a {
      display: block;
      padding: 12px;
      color: $color-missing;

      i {
        margin-right: 6px;
      }

      &:hover span {
        text-decoration: underline;
      }
    }

    &:nth-child(odd) {
      clear: both;
    }

    &.done,
    &.done a {
      color: $color-done;
    }

    &.done:before {
      float: right;
      content: "✔";
      padding: 12px;
    }
  }

  .split {
    margin: 0 -2%;

    li {
      float: left;
      width: 46%;
      margin: 0 2%;
    }
  }

  @include breakpoint(phablet) {
    .split {
      margin: 0;

      li {
        float: none;
        width: auto;
        margin: 0;
      }
    }
  }
}

.footer {
  @extend %wrapper;
  margin-top: 48px;
  margin-bottom: 48px;
  font-size: 14px;

  img {
    margin-right: 6px;
    height: 16px;
  }

  @include breakpoint(phablet) {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  @include breakpoint(phone) {
    img {
      display: block;
      margin-bottom: 6px;
    }
  }
}
